<!-- Ecommerce Item -->
<div class="item-img text-center">
  <a [routerLink]="'/apps/e-commerce/details/' + product.id">
    <img class="img-fluid card-img-top" [src]="product.image" alt="img-placeholder" />
  </a>
</div>
<div class="card-body">

  <h3 class="item-name">
    <a class="text-body" [routerLink]="'/apps/e-commerce/details/' + product.id"> {{ product.name }}</a>
  </h3>
  <p class="card-text item-description">
    {{ product.description }}
  </p>
</div>
<div class="item-options text-center">
  <div class="item-wrapper flex-fill justify-content-center align-items-center">
    <div class="item-cost">
      <p class="card-text shippng">
        <span class="badge badge-pill badge-light-success">{{product.brand}}</span>
      </p>
    </div>
  </div>


  <a href="/finance/details/26" class="btn btn-primary btn-cart" rippleEffect>
    <i data-feather="eye" class="mr-25"></i>
    <span class="add-to-cart">View Details</span>
  </a>
</div>
<!--/ Ecommerce Item -->