<div>
    <div class="row">
        <div class="col-sm-12 col-md-4 p-0">
            <div class="row mx-0 h-100">
                <div class="col-sm-12 p-1">
                    <div class="card h-100 m-0 bg-ai-image">
                        <div class="card-body backgrop-brightness d-flex align-items-center justify-content-center">
                            <h3 class="m-0">Management Bullentins</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 p-1">
                    <div class="card h-100 m-0">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h3 class="m-0">Sync Settings</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 p-0">
            <div class="row mx-0 h-100">
                <div class="col-sm-6 p-1 overflow-hidden">
                    <div class="position-relative overflow-hidden rounded-lg">
                        <div class="shape-card"></div>
                        <div class="card h-100 bg-transparent-card m-0">
                            <div class="card-body">
                                <h3>Global Administration</h3>
                                <div>
                                    <ul>
                                        <li>Feature 1</li>
                                        <li>Feature 2</li>
                                        <li>Feature 3</li>
                                        <li>Feature 4</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 p-1 overflow-hidden">
                    <div class="position-relative overflow-hidden rounded-lg">
                        <div class="shape-card"></div>
                        <div class="card h-100 bg-transparent-card m-0">
                            <div class="card-body">
                                <h3>Financial Office</h3>
                                <div>
                                    <ul>
                                        <li>Feature 1</li>
                                        <li>Feature 2</li>
                                        <li>Feature 3</li>
                                        <li>Feature 4</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 p-1 overflow-hidden">
                    <div class="position-relative overflow-hidden rounded-lg">
                        <div class="shape-card"></div>
                        <div class="card h-100 bg-transparent-card m-0">
                            <div class="card-body">
                                <h3>Operations Office</h3>
                                <div>
                                    <ul>
                                        <li>Feature 1</li>
                                        <li>Feature 2</li>
                                        <li>Feature 3</li>
                                        <li>Feature 4</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 p-1 overflow-hidden">
                    <div class="position-relative overflow-hidden rounded-lg">
                        <div class="shape-card"></div>
                        <div class="card h-100 bg-transparent-card m-0">
                            <div class="card-body">
                                <h3>Crew HR Office</h3>
                                <div>
                                    <ul>
                                        <li>Feature 1</li>
                                        <li>Feature 2</li>
                                        <li>Feature 3</li>
                                        <li>Feature 4</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>